@font-face {
  font-family: 'CarterOne';
  src: url('../assets/fonts/CarterOne-Regular.ttf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('../assets/fonts/Comfortaa-VariableFont_wght.ttf');
  font-weight: 100;
  font-style: normal;
}
